# vim motions
move_down		j
move_up			k
move_left		h
move_right		l

# zoom
zoom_in			=
zoom_out		-

# the text
add_highlight		i

#toggle dark mode
toggle_dark_mode		<S-d>	

# toggle custom color
toggle_custom_color		<C-c>

# w to fit to page width
fit_to_page_width_smart w

# command that move the visual mark to the next/previous line
move_visual_mark_up		J
move_visual_mark_down		K

# next/prev page
next_page			<A-j>
previous_page			<A-k>

# exit
quit		q 
