# launcher each pdf file in new instance
should_launch_new_window	1

# (can be 0 or 1) if set, shows a notification on startup if a new version of sioyek is available
check_for_updates_on_startup	1

# displays an overview of destination when hovering over a link with mouse
hover_overview	1

# Use dark mode by default
# default_dark_mode	1
# side of pages
#background_color  0.188 0.196 0.212
background_color  0.1019 0.1058 0.1490
dark_mode_background_color 0.074 0.082 0.0941

font_size 16
ui_font Clear Sans

# blue-ish
text_highlight_color 0.529 0.686 0.875

# green-ish
synctex_highlight_color 0.686 0.875 0.529

# purple-ish
link_highlight_color 0.561 0.323 0.788 

# tokyo night themed backgoun
#custom_background_color		0.1019 0.1058 0.1490
custom_background_color		0.1843 0.2039 0.2470
custom_text_color		0.7529 0.7921 0.7607

# start with custom color
startup_commands toggle_custom_color
